*::-webkit-scrollbar { display:none;}
* { -ms-overflow-style:none;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
nav,
section {
    display: block
}
.a2a_s_a2a,
.a2a_s_facebook,
.a2a_s_twitter,
.a2a_s_email{
    background-color: #bbb!important
}
.pp_modal{
    width: 80vw;
    height: 60vh;
}
#sidebar{
    width: 100%!important;
    padding: 0;
    margin: 0;
}
.user_menu{
    padding: 0;
    margin: 0;
    z-index: 100;
}
#user_menu2{
    float: left;
    margin-top: 20px;
}
#user_menu3{
    float: right;
    margin-top: 20px;
}
#user_menu2 a{
    background-color: #084;
}
#user_menu3 a{
    background-color: #d00;
}
#user_menu2 a,
#user_menu3 a{
    color: #fff;
    border-style: solid;
    border-width: 0.05vw;
    border-color: rgba(0,0,0,0);
    text-decoration: none;
    font-size: 12px!important;
    text-align: center;
    height: 16px;
    padding: 10px;
    font-weight: bolder;
}
.user_menu li{
    display: inline-flex;
    width: 12.5%;
}
.user_menu li a{
    width: 12.5vw;
    margin: 0;
    background-color: #fff;
    color: #666;
    border-style: solid;
    border-width: 0.05vw;
    border-color: #eee;
    text-decoration: none;
    font-size: 12px!important;
    text-align: center;
    height: 16px;
    padding: 10px 0 35px 0!important;
}

#headerp{
    display:block;
    height:auto;
    background-size:cover;
    background-position:center center;
    box-shadow:0 0 5px 0 #ccc;
}
.location{
    display: none!important;
}
#currencywrap{
    width: 100px;
    float: right;
    margin-left: 15px;
}
#backbutton{
    background: #888;
    float: right;
    border: none;
}
#backbutton a{
    color: #fff;
}
.listing-card{

}
#user-profile-form{
    padding: 20px;
}
#headpreview{
    width: 40%;
    height: 100px;
    float: left;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    padding: 30px 0;
    font-size: 1.5em
}
#picker{
    float: left;
    margin:  10px 20px;
}
#sharebuttons{
    position: fixed;
    bottom: 10px;
    left: 0;
    z-index: 1000;
    margin-top: 40px;
    margin-left: calc(50% - 72px);
}
#welcomeen{
    width: 70%;
    text-align: justify;
    margin: 20px 15%;
    padding:15px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
}
#welcomear{
    width: 70%;
    text-align: right;
    margin: 20px 15%;
    padding:15px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}
#headerp{
    background-color: #333;
    box-shadow: none;
    border: none;
}
p{
    overflow-x: scroll;
}
/* this file is just describe DEMO pages base style, its not required for correct work of extension */


#colorbody {
    background : #ececec;
    font-family: Calibri;
    padding-top: 48px;
    text-align : center;
}

#color {
    border: 0px;
    height: 32px;
    text-align: center;
}

.example-wrap {
    background: #e6e6e6;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #cacaca;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.4);
}

.example-wrap-simple {
    width : 98%;
    height : 98%;
    padding-bottom : 64px;
}

.input-quad {
    width : 64px;
    height : 64px;
    display : inline-block;
}

.example-top {
    margin-bottom : 120px;
}

.example-top a {
    font-size: 16px;
    color: #6d5ad6;
    font-weight: bold;
}

.examples-list {
    max-width : 640px;
    margin : 0 auto;
    text-align : left;
    padding : 24px;
    box-sizing: border-box;
}

.examples-list ul {
    text-align : left;
    margin : 0px;
    padding : 0px;
}

.examples-list li {
    list-style-type: none;
    padding: 6px;
    padding-left : 0px;

}

.examples-list li a {
    font-size: 16px;
    color: #6d5ad6;
    font-weight: bold;
}

.multi-input {
    border: 2px solid rgba(70, 70, 70, 0.18);
    box-sizing: border-box;
    text-align : center;
}

.multi-input.selected {

    border: 2px solid #000;
}

.social-bookmarks li{
    height: 100px;
}

#usrhead{
    max-width: 1000px;
}
#usrpic{
    width: 120px;
    height: 120px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    float: left;
}
#usrpic img{
    border-radius: 15px;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
#usrname{
    margin-top: 65px;
    font-size: 3em;
}
#usrname a{
    color: #fff;
}
#usrphone{
    font-size: 1.5em;
    padding-bottom: 20px;
}
#usrname, #usrphone{
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    margin-right: 30px;
    font-family: Comfortaa;
    text-align: right;
    font-weight: bold;
    color: #fff;
}
#qrcontainer{
    width: 100%;
    height: 130px;
}
#qrcode{
    margin: 0 10px;
    float: left;
}
#qrinfo{
    max-width:400px;
}
#qrcode img{
    border-radius: 0px;
}
#companyselect, #csdrop{
    width: 50%;
}
#storechat{
    position: sticky;
    top: 0;
    z-index: 1000;
}
#storechat a{
    color:#fff!important;
    display: block!important;
    background:#084;
    padding:15px;
    z-index: 1000;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
    #myshuplogo{
        text-align: left;
        color: #888;
        background-color: #e8e8e8;
        position:fixed;
        bottom:0px;
        left:0;
        padding: 15px 10px;
        width:100vw;
        height:50px;
    }
#descl{
    width: 100%;
    text-align: center;
    padding: 20px 0 70px 0;
    color: #888;
    font-weight: 600;
}
#strhead{
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    background-image:linear-gradient(to right,#f8f8f8,#fff,#fff);
    height:120px;
    width: 100%;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
#strname ,#strnum{
    margin-top: 10px;
    color: #333;
    font-size: 1.4em;
}
#strname{
    margin-left: 120px;
    float: left;
}
#strnum{
    margin-right: 120px;
    float: right;
}
#strspacer{
    width: 100%;
    height: 100px;
}
#qrcode{
    width: 120px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block!important;
}
#qrcode img{
    border-radius: 0px;
}
.storename a{
    height: 40px!important;
    padding: 10px 0;
    text-align: center;
    color: #888;
    font-weight: 600;
    width: 80%!important;
    margin: 0 10%!important;
    font-family: comfortaa;
    background-color: #eee
}
#replaceshare a{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 0!important;
    border-radius: 15px 0 0 0;
    background-color: #084;
    color: #fff;
    text-decoration: none;
}
#replaceshare{
    border: none!important;
    height: 0;
    width: 0;
}
#replaceshare2{
    float: right;
    font-size: 1.5em;
    margin: 0 20px;
}
#phonenum{
    float: left;
    margin: 0 20px;
}
#storerep{
    font-family: Comfortaa;
    font-size: 1.5em;
    text-align: right;
    margin-top: 30px;
}
#storerep a{
    color: #666!important;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
audio:not([controls]) {
    display: none
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%
}
a {
    color: #08f
}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
a:hover,
a:active {
    text-decoration: none
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
ul {
    list-style: none
}
img {
    border-radius: 0px;
    max-width: 100%;
    width: auto\9;
    height: auto;
    -ms-interpolation-mode: bicubic;
}
#content img:hover {
    z-index: 998;
    -webkit-box-shadow: 0 4px 5px #ccc;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background: white;
    padding: 0px;
}

.item-photos .main-photo img {
    width: 100%;
}

#map_canvas img {
    max-width: none
}
button,
input,
select,
textarea {
    color: #333;
    font-size: 100%;
    vertical-align: middle;
    border-radius: 0px;
}
button,
input {
    *overflow: visible;
    line-height: normal
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input[type="text"],
input[type="password"] {
  height: 30px;
  line-height: 30px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}

#sidebar .controls input[type="file"] {
    width: 100%;
    padding: 0;
    cursor: pointer;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}
textarea {
    overflow: auto;
    vertical-align: top
}
.has-placeholder {
    position: relative;
    display: block;
    float: left
}
.has-placeholder label {
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    color: #999;
    line-height: 43px;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    text-shadow: 0 1px 0 #fff;
    overflow: hidden
}
textarea {
    background-color: #eee;
    border: solid 0px #bfbfbf;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 1em;
    width: 99.99%;
    padding: 5px;
}
.select-box-focus {
    outline: 0;
    border: 1px solid #5B9DD9;
    -webkit-box-shadow: 0 0 5px 1px #5B9DD9;
    -moz-box-shadow: 0 0 5px 1px #5B9DD9;
    box-shadow: 0 0 5px 1px #5B9DD9
}
.select-box {
    z-index: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #eee;
    border: solid 0px #d3d3d3;
    display: inline-block;
    vertical-align: middle;
    color: #fff!important;
    line-height: 33px;
    padding: 0 15px;
    padding: 0;
    overflow: hidden
}
.select-box .select-box-label {
    height: 16px;
    overflow: hidden;
    display: block;
    line-height: 16px;
    float: left;
    position: absolute;
    top: 0;
    color: #bababa;
    padding: 0 15px;
    height: 100%;
    color: #999;
    line-height: 30px;
    text-shadow: 0 1px 0 #fff
}
.select-box a:hover {
    text-decoration: none
}
.select-box select {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    z-index: 1003;
}
.select-box-icon {
    z-index: 0;
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    width: 24px;
    display: block;
    font-family: "icons";
    color: #404040;
    font-size: .8em;
    text-align: left
}
.ui-button {
    background-color: #eee;
    color: #666 !important;
    border: none;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding: 0 15px;
    width: 30%;
}
input.ui-button,
button.ui-button {
    padding-left: 10px;
    padding-right: 10px
}
.ui-button-main {
    color: #333;

}
a.ui-button {
    line-height: 34px;
    margin: 15px 0;
    float: right;
    color: #333;
}

.ui-button-middle {
    height: 36px;
    font-size: 1.4em;
    line-height: 1em
}
.doublebutton {
    float: right;
}
.doublebutton a {
    border: solid 1px #d1d1d1;
    background-color: #f7f7f7;
    cursor: default;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    padding: 8px;
    cursor: pointer;
    display: block;
    float: left
}
.doublebutton a span {
    text-indent: -9999px;
    float: left;
    width: 16px;
    height: 16px;
    background-image: url(../images/icons.png);
    cursor: pointer
}
.doublebutton .list-button {
    margin-right: 1px;
    border-right: none
}
.doublebutton .list-button span {
    background-position: -16px -16px
}
.doublebutton .grid-button {
    border-left: none
}
span.active a.grid-button span {
    background-position: -16px 0
}
span.active a.list-button {
    border: solid 1px #d1d1d1;
    background-color: #f7f7f7
}
span.active a.list-button span {
    background-position: 0 -16px
}
span.location {
    height: 20px;
}
.active a.grid-button,
.doublebutton a.list-button {
    background: #08f;
    border: 1px solid #08f
}
.alert_form {
    background-color: #dee8f4;
    padding: 15px 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid #e2e2e2;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
.alert_form button {
    width: 100%
}
.alert_form input {
    width: 184px;
    margin-bottom: 12px
}
.alert_form h3 {
    color: #333
}
.form-vertical .control-group {
    clear: both;
    margin-bottom: 10px
}

.form-container .controls input,
.form-container .meta input {
    background-color: #eee;
    border: solid 0px #bfbfbf;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    width: 75%;
    font-size: 1em;
    margin: 0;
}
.form-container .ui-drop-files {
    width: 280px;
    padding: 0 10px;
    height: 70px;
    text-align: center;
    font-size: 18px;
    line-height: 70px;
    color: rgba(0, 0, 0, 0.5)
}
.form-container .controls {
    font-size: 1em
}
.form-container .main-button {

}
.form-container .checkbox input,
input[type="checkbox"],
.form-container .meta input[type="checkbox"],
.form-container .controls input[type="checkbox"],
input[type="radio"],
.form-container .meta input[type="radio"],
.form-container .controls input[type="radio"] {
    width: auto;
    vertical-align: middle;
    padding: 0;
    border: none;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    margin-left: 0px;
}
.meta_list .meta ul {
    padding: 0;
    float: left;
    width: calc(95% - 200px);
}
.meta_list .meta ul li {
    float: left;

}
.meta_list .meta ul li label {
    width: auto;
    margin-left: 5px;
    float: none
}

.meta_list .meta .cf_date_interval {
    width: 100px
}
.meta_list .meta:after {
    content: "";
    clear: both
}
.form-container .checkbox {
    margin-bottom: 5px
}
.form-container .checkbox label {
    font-size: .85em
}
.form-horizontal .actions {
    border-top: solid 1px #eaeaea;
    padding: 10px 10px 15px 155px;
    margin: 0 25px;
    text-align: center;
}
.form-horizontal .actions a {
    font-size: .725em
}
.form-horizontal label {
    float: left;
    width: 160px;
    font-size: .85em
}

.form-horizontal .controls {
    margin-left: 180px;
}
.form-horizontal .controls label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left
}
.form-horizontal .control-group,
.form-horizontal .meta_list .meta {
    clear: both;
    margin-bottom: 10px
}
.form-container-box {
    float: left;
    width: 100%;
    border: solid 1px #eaeaea;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
.form-container-box .header {
    background-color: #f7f7f7;
    padding: 10px 15px;
    margin-bottom: 30px
}
.form-container-box .header h1 {
    margin: 0;
    line-height: 1.2em
}
#item-post .col-md-12{
    float:none;
}
.category .select-box {

    margin-bottom: 5px;
}
#plugin-hook table {
      width: 100%;

}
table.prod-attr td input,
#plugin-hook .box .row input,
#plugin-hook .box .tabber input {
    height: 30px;
}

#item-post select {
    height: 30px;
    position: relative;
    display: inline-block;
    background-color: #f9f9f9;
    border: solid 1px #d3d3d3;
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
    padding: 0 15px;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    overflow: hidden;
}

#plugin-hook .box .row select,
#plugin-hook .box .row input,
#plugin-hook .meta input,
#item-post select#buysell_type,
#item-post .meta_list .meta select {
    width: calc(100% - 245px);
    margin-bottom: 10px;
    margin-left: 15px;
}
#item-post .meta_list .meta textarea {
    width: calc(95% - 165px);
}
#item-post .controls.email input,
#item-post .controls.name input,
#item-post .controls.address input,
#item-post .controls.city-area input,
#item-post .controls.city input,
#item-post .controls.region input,
#item-post .controls.title input {

    width: 100%;

}

#item-post .cf_date_interval {
    width: calc(50% - 140px) !important;
}

#item-post .meta input[type="radio"],
#item-post .meta input[type="checkbox"] {
    width: 20px !important;
}

#item-post .price input#price,
#item-post .price .select-box {
    width: calc(50% - 55px) !important;
}

.box ul.checkbox-list {
    clear: both;
    padding-left: 0px;
    margin-top: 40px;
}


.attr-make td, .attr-model td {
    padding: 10px 0px;
}

.box ul.checkbox-list li input {
    float: right;
}

.box ul.checkbox-list li {

    float: left;
}



#item-post td input {

    float: left;
   width: 100%;
}
#item-post td.inp {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}



.form-container .photos input {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
.photos_div {
    margin-bottom: 20px
}
.form-container .controls #photos a {
    font-size: 12px  !important
}
button {
    background-color: #08f;
    background-image: none;
    border: none;
    display: inline-block;
    vertical-align: middle;
    color: #fff!important;
    line-height: 36px;
    font-weight: 700;
    padding: 0 15px;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;

}

button:hover {
background-color: #08f;
}

.ui-drop-files {
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border: 4px dashed rgba(0, 0, 0, 0.2);
    height: 100px;
    background: rgba(0, 0, 0, 0.1)
}
.bordered-box {
    border: solid 2px #FF3E04;
    padding: 15px;
    font-size: .80em
}
.bordered-box ul {
    padding-left: 10px;
    list-style: inherit
}
.bordered-box h2 {
    font-size: 1.5em;
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700
}
.mark-as {
    border: solid 1px #d9aeae;
    margin-bottom: 10px;
    height: 33px
}
.form-container .photos input {
    width: 100%
}
.form-container .photos img {
    width: 120px
}
.photos_div a {
    display: block
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000
}
.hover .arrow-up {
    border-bottom-color: #fff
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000
}
.hover .arrow-down {
    border-top-color: #fff
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000
}
.hover .arrow-left {
    border-right-color: #fff
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000
}
.hover .arrow-right {
    border-left-color: #fff
}
.paginate {
    padding: 25px;
    text-align: center;
    clear: both
}
.paginate li {
    display: inline;
    list-style-type: none
}
.paginate a,
.paginate span {
    margin: 0 1px;
    padding: 5px 10px
}
.paginate a.previous {
    margin-right: 15px
}
.paginate a.next {
    margin-left: 15px
}
.paginate strong {
    border: 1px solid #EEE;
    color: #F30;
    margin: 0 1px;
    padding: 5px 10px
}
.paginate em {
    border: 1px solid #EEE;
    color: #AAA;
    font-style: normal;
    margin: 0 1px;
    padding: 5px 10px;
}
.paginate em.previous {
    margin-right: 15px
}
.paginate em.next {
    margin-left: 15px
}
.searchPaginationSelected,
.paginate a:hover {
    font-weight: 700;
    background-color: #08f;
    color: #fff
}
.see_by {
    float: right;
    border: solid 1px #D1D1D1;
    background-color: #F7F7F7;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    padding: 7px 6px;
    display: block;
    margin-right: 10px;
    position: relative
}
.see_by span {
    padding-right: 5px
}
.see_by a {
    padding-right: 6px;
}

.see_by a.current:link,
a.current:visited {
    font-weight: 700
}
.see_by ul a:hover {
    font-weight: 900;
    font-size: 1.1em;
    text-decoration: none;
}
.see_by li {
    margin: 6px
}
.see_by span {
    float: left
}
.see_by label {
    float: right;
    padding: 0 18px 0 5px;
    color: #000;
    margin: 0;
}
.see_by ul {
    position: absolute;
    right: -1px;
    margin: 22px 0 0;
    padding: 8px 10px;
    list-style: none;
    text-align: right;
    background-color: #08f;
    border: solid 1px #f8f8f8;
    display: none
}
.see_by ul a {
    font-size: 1em;
    font-weight: 500;
    color: #fff
}
.see_by .arrow-up,
.see_by .arrow-down,
.see_by .arrow-right,
.see_by .arrow-left {
    position: absolute;
    right: 6px;
    top: 11px
}
.hover ul {
    display: block
}
.wrapper-flash {
    font-weight: 700
}
.flashmessage {
    font-size: 14px;
    padding: 15px 0;
    width: 100%;
    top: 10px;
    z-index: 999;
    text-align: center;
    color: #fff;
    position: relative
}
.flashmessage-warning,
.help-box {
    background-color: #8af;
    border: solid 1px #93741e
}
.flashmessage-error {
    background-color: #d00
}
.flashmessage-ok {
    background-color: #cfcfff;
    color: #25772d
}
.flashmessage-info {
    background-color: #08f;
    border: solid 1px #2477b2
}
.help-box {
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    margin: 10px 0
}
.flashmessage .ico-close {
    position: absolute;
    top: 14px;
    right: 17px;
    float: right;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
    text-shadow: none;
    font-weight: 700;
    cursor: pointer
}
.flashmessage-error .close {
    color: #B94A48
}
.flashmessage-warning .close {
    color: #C09853
}
.flashmessage-success .close,
.flashmessage-information .close {
    color: #3A87AD
}
#error_list,
.error_list {
    background-color: #F2DEDE;
    border: solid 2px #EED3D7;
    color: #B94A48;
    padding: 10px;
    display: none;
    margin: 0 10px 20px;
    -moz-column-count: 1;
    -moz-column-gap: 1;
    -webkit-column-count: 1;
    -webkit-column-gap: 1;
    column-count: 1;
    column-gap: 1px
}
#error_list li,
.error_list li {
    padding: 2px 0 2px 18px
}
#error_list li label,
.error_list li label {
    margin-top: 0;
    float: none;
    width: auto;
    text-align: center
}
.user-card {
    background-color: #fff;
    position: relative;
    padding-left: 0px;
    height: 120px;
    text-align: center;
    margin-bottom: 25px
}
.user-card ul {
    padding: 15px;
    margin: 0
}
.user-card .name {
    float: left;
    font-size: 1.5em;
    margin-bottom: 15px
}
.user-card .website {
    float: left;
    font-size: .725em
}
.user-card .location,
.user-card .adress {
    float: left;
    font-size: 1.5em
}
.user-card img {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px
}

@font-face{font-family:"Osclass";font-weight:400;src:url(../fonts/osclass-regular.woff)}
@font-face{font-family:"Osclass";font-weight:100;src:url(../fonts/osclass-extra-light.woff)}
@font-face{font-family:"icons";src:url(../fonts/icons.eot);src:url(../fonts/icons.eot?#iefix) format("embedded-opentype"),
url(../fonts/icons.woff) format("woff"),
url(../fonts/icons.ttf) format("truetype"),
url(../fonts/icons.svg#untitledregular) format("svg");
font-weight:400;
font-style:normal
}
html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%;
    line-height: 1.125em;
    color: #404040
}
.icons {
    font-size: 32px;
    line-height: 32px
}
.icons:after {
    display: inline-block;
    font-family: "icons"
}
.ico-search:after {
    content: "s"
}
.ico-menu:after {
    content: "m"
}
.ico-grid:after {
    content: "g"
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    position: relative;
    background-color: #f8f8f8;
}

/* map */



body.home,
body.search,
body.item {
    padding-bottom: 80px
}
.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
#wrapper {
    min-height: 100%
}
#responsive-trigger {
    display: none
}

fieldset h3,
fieldset h2 {
    border-bottom: 1px solid #E0E0E0;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400
}
.header-fieldset h1 {
    padding-left: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 400
}
h1,h2,h3,h4,h5 {
    font-weight: 700;
    color: #666;
    letter-spacing: -.03em;
    line-height: 1em;
    margin-top: 0
}
h1 {
    font-size: 2.2em;
    margin-top: 10px;
    margin-bottom: 10px
}
h2 {
    font-size: 1.8em
}
h3 {
    font-size: 1.5em
}
h4 {
    font-size: 1.3em
}
h5 {
    font-size: 1.15em
}
.clear {
    clear: both
}

body.user #main {
}
body.search #main,
body.user #main {
    margin-top: 20px;
    float: right;
    width: 100%;
    background-color: #FFF;
    padding: 20px;
}
body.search .actions {
    height: 44px;
    padding-right: 15px;
    padding-top: 4px;
    margin-bottom: 15px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2
}
.resp-toogle {
    display: block
}
.title-has-actions {
    border-bottom: solid 1px #eaeaea;
    margin-bottom: 10px
}
.title-has-actions h1,
.title-has-actions h2,
.title-has-actions h3 {
    float: left;
    margin-bottom: 0
}
.title-has-actions a {
    float: left;
    margin-left: 10px;
    font-size: .825em;
    line-height: 2em
}
.flashmessage-404 {
    background-color: #fff;
    border: solid 1px #000;
    color: #08f;
    font-size: 15px;
    padding: 10px 15px;
    margin-top: 25px
}
.flashmessage-404 ul {
    list-style: disc;
    padding: 10px 0 10px 25px
}
body.not-found .categories h2,
body.not-found .categories h3 {
    float: left;
    width: 25%;
    font-size: 13px;
    font-weight: 400;
    margin: 3px 0
}
body.not-found .categories {
    margin-top: 10px
}
body.not-found fieldset.main {
    padding: 10px 0
}
body.not-found #uniform-sCategory {
    display: none
}
body.not-found h1 {
    font-size: 24px;
    margin-bottom: 20px
}
body.not-found #query {
    background-color: #fff;
    border: solid 1px #bfbfbf;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    padding: 0 15px;
    width: 280px;
    padding: 0 10px;
    height: 34px;
    line-height: 30px;
    font-size: 1em
}
#footer {
    clear: both;
    background-color: #fff;
    color: #FFF;
    width: 100%
}
body.register #footer,
body.login #footer,
body.user-profile #footer,
body.custom #footer {
    position: relative;
    bottom: -160px
}
#footer ul {
    float: right
}
#footer a {
    color: #FFF
}
#footer a:hover {
    text-decoration: underline
}
#footer li {
    display: inline;
    margin-left: 10px
}
.footer-links,
#footer ul {
    padding: 0;
    margin: 0;
    clear: both
}
.footer-links li {
    float: left;
    width: 31%;
    padding-right: 2%;
    margin-bottom: 5px;
    font-size: .725em
}
#footer .resp-toogle .publish {
    padding: 0;
    margin: 15px 0;
    display: block
}
#footer .resp-toogle .publish a {
    background-color: #08f;
    border: solid 1px #08f;
    display: inline-block;
    vertical-align: middle;
    color: #fff!important;
    line-height: 43px;
    padding: 0 15px;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.2em;
    padding: 0
}
#header {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 5px;
    background-color: #222;
}
#header .wrapper {
    position: relative;
    display: table;
    padding-right: 0;
    height: 46px;
    margin: 0 auto
}
#header #logo {
    float: left;
    font-family: "Comfortaa";
    border: none;
    font-size: 1.6em;
    line-height: 1.5em;
    background-image: url(logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50px;
    width: 200px;
    margin: 20px 0;
    padding-bottom: 10px
}
#header #logo a:hover{
    color: #08f;
    text-decoration: none;
}
#header #logo a {
    font-size: 1.5em;
    line-height: .8em;
    font-weight: 700;
    color: #333
}
#header .nav .logout a:hover {
    color: #fff!important
}
#header .nav .account a:hover {
    color: #fff!important
}
#header .hiuser{
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
    padding: 0 12px
}
#header .hiuser span{
    color: #fff!important;
    text-align: center;
}
#header .logout a,
#header .account a,
#header .login a,
#header .register a,
#header .publish a {
    display: inline-block;
    vertical-align: middle;
    color: #333!important;
    line-height: 33px;
    padding: 0 12px
}
#header .register a:hover {
    background-color: #08f!important;
    color: #fff!important
}
#header .login a:hover {
    background-color: #08f!important;
    color: #fff!important
}
#header .publish a {
    background-color: #fff;
    font-weight: bold;
    color: #666!important
}
#header .publish a:hover {
    background-color: #fff!important;
    color: #08f!important;
}
#header .account a:hover {
    background-color: #08f;
    color: #fff!important
}
#header #logo span {
    color: #333;
    font-family: "Comfortaa";
    font-weight: 100;
    border: none;
    font-size: .5em;
    line-height: 1em;
    display: block
}
#header #logo #description {
    margin-left: 1px;
    font-size: .7em
}
.main-search {
    display: table;
    padding: 0;
    height: 46px;
    margin: 0 auto;
    position: relative
}
.main-search .has-placeholder {
    float: none
}
.main-search input {
    background-color: #eee;
    border: solid 1px #fff;
    border-radius: 0px;
    display: inline-block;
    vertical-align: middle;
    color: #024;
    line-height: 20px;
    padding: 0 15px;
    height: 40px;
    width: 100%
}
.main-search .selector {
    padding-left: 32px;
    padding-left: 0px;
    padding-right: 0
}
.main-search .select-box {
    border: none;
    background-image: none;
    background-color: FFF
}
.main-search .select-box-icon {
    background: url(../images/down_arrow.png) no-repeat right;
    width: 32px;
    font-size: 0;
    margin-right: 10px
}
.main-search .reset-padding {
    padding-left: 0
}
.main-search .ui-button {
    background: url(../images/search2.png) no-repeat right;
    background-color: #ddd;
    border: none;
    border-left: 0;
    display: inline-block;
    vertical-align: middle;
    color: #333!important;
    line-height: 36px;
    font-weight: 700;
    height: 40px;
    width: 130px;
}
.main-search .cell {
    display: table-cell;
    width: 100%;
    vertical-align: top
}
#header .nav {
    position: relative;
    padding: 0;
    margin: 12px 0;
    float: right
}
#header .nav li {
    position: initial;
    float: left;
    color: #000
}
#header .nav li.search,
#header .nav li.cat {
    display: none
}
#header .nav li a,
#header .nav li span {
    color: #000;
    font-size: .875em;
    font-weight: 700
}
#header .register a {
    margin: 0 5px;
}
#header .nav li a:hover {
    background-color: #08f;
    color: #fff
}
#header .nav li.publish {
    float: right
}
.main-search .select-box .select-box-label {
    line-height: 43px
}
.main-search .select-box select {
    width: auto;
    height: 42px
}
.main-search .select-box-icon {
    top: 0
}
.wrapper-flash {
    margin-bottom: 15px
}
.breadcrumb {
    display: none;
    line-height: 1.05em;
    font-size: .85em;
    height: auto;
    width: auto;
    padding: 1px 0;
    background-color: transparent;
}
ul.breadcrumb {
    margin: 0;
    padding: 0
}
ul.breadcrumb li {
    float: left;
    padding: 0 2px;
    font-weight: 400
}
.r-list {
    display: none;
    margin: 0 40px 0 0;
    padding: 0;
    list-style: none
}
.latest_ads {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    background-color: #f8f8f8;
}
.latest_ads h1 {
    float: left;
    font-size: 24px;
    padding-left: 15px
}
.latest_ads .actions {
    float: right;
    margin-top: 10px;
    margin-right: 10px
}
body.home .r-list {
    display: block
}
body.home #main {
    width: 100%;
    float: left
}
.tbl {
    display: block;
    width: 100%
}
.first_cel ul {
    margin: 0
}
.cell_3 ul {
    margin: 0;
    margin-left: 15px
}
.r-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    padding: 0 0 8px;
    border: 1px solid #e2e2e2;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
.r-list li ul li {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    padding: 0 8px 0 10px
}
.r-list li .r-list li li {
    float: none;
    width: 100%
}
.r-list li>li:nth-child(4n),
.r-list li .clear {
    clear: both
}
ul.r-list li h2 {
    margin: 0 0 10px;
    padding: 8px;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #F8FBFC;
    border-bottom: 1px solid #E5E5E5
}
ul.r-list li h2 a {
    font-size: 1em;
    margin-top: 3px;
}
ul.r-list li h2 span {
    font-weight: 400
}
ul.r-list li a,
ul.r-list li span {
    font-size: .8125em
}
ul.r-list li ul {
    margin: 0;
    padding: 0
}
.list-header h1 {
    font-size: 15px 3 relative 22px;
    margin-left: 10px
}
.listing-card-list {
    padding: 20px 0 0;
    clear: both;
    width: 100%;
}
.listing-card-list.listing-grid {
    float: left;
}
.listing-card-list.listing-grid .listing-thumb {
    margin: 0;
    padding: 0;
}
.see_more_link {
    text-align: center
}
p.see_more_link {
    text-align: center;
    padding: 5px;
    color: #333!important;
    border-radius: 0px;
    width: 40%;
    margin: 10px 30%;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
p.see_more_link a {
    color: #FFF;
    text-decoration: blink;
    text-transform: uppercase;
    color: #333!important;
    font-weight: 700
}
.see_more_link {
    color: #333!important;
    clear: both
}
.counter-search {
    float: left;
    padding: 12px;
}
.list-header p {
    margin-left: 10px
}
#main h5 {
        margin-bottom: 10px;
    padding-top: 39px;
    clear: both;
    text-align: center;
}
#related-searches {
    padding-top: 25px
}
#related-searches h5 {
    margin-bottom: 10px;
    font-size: 1em
}
.listing-card {
    overflow-x: auto;
    overflow-y: auto;
    background-color: #fff;
    margin: 6px 0px;
}

.listing-card .listing-basicinfo,
.listing-card  {
    display: list-item;
    vertical-align: top;
    padding-bottom: 5px;

}

.listing-attributes span{
    margin-right: 14px;

}

.listing-grid .category,
.listing-grid .location {
    float: none;
    margin-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 16px;
    /* -webkit-line-clamp: 1; */
    -webkit-box-orient: vertical;
}

.listing-card .list-currency-value {
    font-size: 1.5em;
    white-space: nowrap;
    font-weight: 700;
    color: #08f;
    float: right;
    padding: 10px 25px;
    position: initial;
}


.listing-card .listing-data {
    display: table-row;
    width: 100%
}
.listing-card .listing-detail {
    width: auto;
    margin-left: 145px
}
.listing-card .listing-cell {
    display: table;
    width: 99.996%
}
.listing-card-list .listing-thumb {
    width: 140px;
    float: left;
    margin: 2px;
    padding: 5px;
}
.listing-card-list .listing-thumb img {
    width: 94%;
    max-width: 180px
}
.listing-card-list.listing-grid .listing-thumb img {
    max-width: 100%
}
.listing-card .listing-attributes {
    font-size: .78em;
    color: #777;
    padding: 4px 0 1px;
    line-height: 1em;
overflow: hidden;
}
.listing-card .listing-attributes a {
    color: #777;
    font-weight: 700;

}
.listing-card .listing-attributes a:hover {
    text-decoration: underline
}
.premium-list li.listing-card,
li.listing-card.premium {
    background-color: #d7d7f8
}


.listing-grid .last {
    margin-right: 0
}
.listing-grid .listing-card {
    width: 33%;
    padding: 8px;
    background-color: #fff;
    margin: 0;
    position: relative;
    display: inline-block;
    clear: none
}
.listing-grid .listing-card .listing-attributes .location {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.listing-grid .listing-card .listing-attributes .location a {
    display: inline
}
.listing-grid .listing-card img {
    width: 100%;
    height: auto;
    float: none
}
.grid-currency-value {
    display: none;
}
.listing-grid .grid-currency-value {
    white-space: nowrap;
    font-weight: 700;
    color: #08f;
    text-align: center;
    font-size: 1.81em;
    margin-top: 28px;
    margin-bottom: 5px;
    float: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px 9px;
    top: 0px;
}
.listing-grid .listing-detail {
    margin-left: 0
}
.listing-grid .listing-basicinfo,
.listing-grid .listing-data {
    width: 99.96%;
    display: block
}
.listing-grid .listing-thumb {
    width: 99.99%
}
.listing-grid .listing-cell {
    display: block
}
.listing-grid p {
    display: none
}
ul#listing-card-list.listing-grid .list-currency-value,
ul#listing-card-list.listing-grid p {
    display: none;
}
.listing-grid .listing-basicinfo a {
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
    display: inline-block;
    text-align: center
}

.listing-grid .listing-attributes {
    text-align: center;
    line-height: 1.2em;
    width: 100%;
    float: none;

}


li.listing-card .listing-basicinfo a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    height: 50px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-top: 5px;
    padding-bottom: 5px;
}
.listing-grid .g-hide {
    display: none
}
body.search .listing-grid .last {
    margin-right: 0
}

#sidebar input {
    vertical-align: bottom
}
#sidebar .input-text,
#sidebar input[type="text"] {
    border: solid 1px #d9d9d9;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    padding: 0 15px;
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}
ul.sidebar-list {
    padding: 0;
    margin: 0
}


.filters .row {
    margin-right: 5px;
    margin-left: 5px;
}

#plugin-hook .row {
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

#plugin-hook label {
    margin-right: 20px;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.tabbertab label,
#plugin-hook .row label {
    margin-right: 20px
}
.tabbertab input {
    width: 50%!important;
    margin-top: -20px
}


.ui-button-main:hover,
#sidebar button:hover {
    background-color: #ccc;
    border: solid 1px #ccc;
}

.widget-box {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
.widget-box h3 {
    margin: 0
}
.widget-box ul {
    margin: 0;
    padding: 0;
    -moz-column-count: 2;
    -moz-column-gap: 2.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2.5em;
    column-count: 2;
    column-gap: 2.5em
}
.widget-box li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
    font-size: .8125em;
    display: block;
    padding: 4px 5px;
    margin: -1px 0;
    position: relative;
    border-bottom: solid 1px #eaeaea;
    border-top: solid 1px #eaeaea
}
.widget-box li li a:hover {
    background-color: #333;
    border-color: #f7f7f7;
    color: #fff;
    z-index: 2
}

body.item #sidebar .form-container label,
body.user-public-profile #sidebar .form-container label {
    font-size: .75em
}

body.item #contact h2,
body.user-public-profile #contact h2 {
    margin-top: 0
}

#custom_fields {
    margin: 20px 0 ;
}

body.item .meta,
body.item .meta_list {
padding-bottom: 5px;

}

body.item .meta_list strong {
    width: 154px;
    float: left;
    clear: both;
}



li.listing-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 48px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 5px 0px 10px;
}
body.item #main,
body.user-public-profile #main {
    width: 100%;
    float: left;
    background-color: #fff;
    margin-top: 20px;
}
#item-content h1 {
    min-height: 60px;
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    text-transform: capitalize;
}
#edit_item_view {
    background-color: #dcf9f9;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}
}

.item-photos .main-photo img {
        width: 100%;
}
.item-photos .main-photo {
    width: calc(100% - 114px);
    float: left;
    margin: 8px
}
.item-photos .thumbs {
    float: right;
    width: 78px;
    margin: 0 10px;
}
.item-photos .thumbs img {
    margin-bottom: 12px;
    border: solid 2px #eaeaea
}
.item-header {
    margin-top: -10px;
    background: #f7f7f7;
    padding: 10px;
    font-size: .875em;
    margin-bottom: 15px;
    font-size: .75em;
    display: none;
}
.item-header #type_dates {
    float: right
}
.item-header #type_dates em {
    font-style: normal
}
#item_location {
    list-style: none;
    margin: 0;
    padding: 0
}
#item_location li {
    display: inline
}
#description {
    clear: both;
    padding-bottom: 30px;
    padding-top: 5px;
    margin-left: 15px;
    margin-right: 15px
}
.mark_as {
    height: 32px;
    width: 100%;
    border: none;
    background: transparent;
    margin-bottom: 15px
}
.mark_as a {
    width: 100%;
    height: auto;
    display: block;
    top: 0;
    left: 0;
    position: absolute
}
.mark_as .select-box-label {
    border: solid 1px #f2f2f2;
    position: relative;
    float: none;
    background: #f7f7f7
}
.similar_ads h2 {
    margin-top: 35px;
    margin-left: 10px;
    font-size: 24px
}
.admin-options {
    font-size: .725em
}
.admin-options a {
    margin: 0 5px
}
#comments {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;

}
body.item h1 .price {
    font-weight: 600;
    font-size: 24px;
    float: right;
    right: 1px;
    color: #08f;
    padding: 12px 10px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.item #comments .header {
    padding: 12px 0;
    text-align: center;
}
.item #comments h3 {
    font-size: 1em
}
.item #comments {
    clear: both;
    float: left;
    margin-bottom: 35px;
    width: calc(100% - 30px);
    border: solid 1px #bfbfbf;
    padding: 10px;
}
.item #comments .comments_list {
    border-bottom: 1px dotted #DDD;
    margin-bottom: 20px
}
.item #comments .comment {
    background: url(../images/comments_quotes.gif) no-repeat 10px 0;
    margin-bottom: 15px;
    padding: 7px 0 0 60px
}
.item #comments .comment h3 {
    color: #666;
    margin-bottom: 5px
}
.item #comments .comment h3 em {
    color: #888;
    font-size: 12px;
    font-weight: 400
}
.item #comments .comment p {
    color: #878787;
    font-style: italic;
    line-height: 18px
}
.item #comments .pagination {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 15px
}
.item #comments .pagination a {
    border: 1px dotted #AAA;
    padding: 5px 8px
}
.item #comments .pagination a.searchPaginationSelected {
    background-color: #f7f7f7
}
.item #comments .pagination a.searchPaginationNext,
.item #comments a.searchPaginationPrev,
.item #comments .pagination a.searchPaginationFirst,
.item #comments a.searchPaginationLast {
    border: 0;
}

.item #comments .pagination a.searchPaginationNext:hover,
.item #comments a.searchPaginationPrev:hover,
.item #comments .pagination a.searchPaginationFirst:hover,
.item #comments a.searchPaginationLast:hover {
    background-color: #fff
}
.item #comments a:hover {
    background-color: #f7f7f7
}

.item #comments button {
    float: right;
    width: 35%;
}

body.item #description #itemMap {
    clear: both;
    top: 29px;
}
.home .vista_728 img {
    margin-top: 70px;
}
.vista_728,
.vista_header img {
    width: 100%;
    max-width: 728px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0
}
.vista_300 {
    width: 98%;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px
}
.vista_300 img {
    margin-bottom: 15px;
}

.qq-upload-button {
    padding: 33px!important
}

.qq-upload-button div:before {
    content: "\f030";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 44px;
    font-weight: 100;
    text-decoration: inherit;
    padding-right: 35px;
    vertical-align: middle;
}

#restricted-fine-uploader {
    padding-right: 30px
}
@media only screen and (min-width: 1199px) {
body.home #main {
        width: 100%;
}
#usrpic{
        margin-left: calc(50% - 560px);
    }
    #usrphone, #usrname{
        margin-right: calc(50% - 560px);
    }
.listing-grid .listing-card {
    width: 23.5%;
}

body.item #main,
body.user-public-profile #main {
        width: 100%
}
body.search #main,
body.user #main {
        width: 100%
}
.wrapper {
        width: 1140px
}
.main-search {
        width: 1140px
}

}
#responsive-trigger {
    display: block
}
ul.r-list {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-shadow: none
}
ul.r-list:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
ul.r-list li {
    position: relative;
    margin-bottom: 5px;
    margin-right: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}
ul.r-list>li:nth-child(2n) {
    padding-left: 5px
}
ul.r-list>li:nth-child(odd) {
    clear: both
}
.r-list>li.clear,
.r-list>li:nth-child(4n) {
    clear: none
}
ul.r-list li a.sub-category {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    display: inline-block;
    padding: 2px 10px;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    font-size: .9em;
    border-color: #eaeaea;
    color: #069;
    text-shadow: 0 1px 1px #fff
}
ul.r-list li h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    display: inline-block;
    padding: 2px 10px;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    color: #069;
    text-shadow: 0 1px 1px #fff;
    margin: 0;
    margin-top: 5px;
    border: none;
    font-size: 19px
}
ul.r-list li span {
    display: none
}
ul.r-list li ul {
    -webkit-transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden
}
ul.r-list li.active h2,
ul.r-list li.active a {
    background-color: #FFF;
    color: #2d5b89;
    font-size: 19px
}
ul.r-list li span.collapse {
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 28px;

}
ul.r-list li.active ul {
    opacity: 1;
    height: auto;
    margin: 0;
    padding: 5px 0 0;
    margin-bottom: 5px
}
ul.r-list li.active ul li {
    padding: 0
}
ul.r-list li.active ul li a {
    border-bottom: 1px solid #EBEBEB;
    border-top: none;
    color: #069;
    background-color: #f7f7f7;
    text-shadow: 0 1px 1px #fff;
    font-size: .82em
}
ul.r-list li.active ul li a:hover {
    background-color: #048;
    color: #FFF;
    text-shadow: 0 0 0
}
ul.r-list li ul li {
    float: none;
    width: 100%
}
@media only screen and (max-width: 919px) {
.listing-grid .listing-card,
body.search .listing-grid .listing-card {
        width: 31.75%;
    padding: 0;
    margin: 1%;
    border: none;
}
.has-placeholder {
        float: none
}
#main,
body.item #main {
        width: 100%
}
    main,
body.home #main,
body.search #main,
body.user #main,
body.user-public-profile #main {
        width: auto;
        float: none;
        clear: both
}
body.home,
body.item {
        padding-bottom: 176px
}
#responsive-trigger {
        display: block
}

#header {
        padding-bottom: 0
}
#footer {
        text-align: center
}
#footer ul {
        float: none;
        font-size: 1.15em;
        margin-bottom: 15px
}
.flashmessage {
        padding: 15px 40px 15px 15px;
        width: auto
}
p.contact_button {
    margin-top: 10px;
    color: #08f;
}
.contact_button a {
    color: #08f;
        margin-bottom: 10px
}
body.item a.ui-button {
    width: 100%;
    float: right;
}
#recaptcha_widget {
        width: 100%!important
}
#recaptcha_image {
        width: 100%!important;
        height: auto!important
}
#recaptcha_image>img {
        width: 100%!important
}
#header {
        height: auto;
        margin-bottom: 20px
}
#header #logo {
        font-size: 1.7em;
        letter-spacing: -.07em
}
#header #logo span {
        display: none
}

#header .nav li a {
        display: table
}
#header .nav li.active a,
#header .nav li a:hover {
        background-color: #5da635;
        color: #fff
}
#header .nav li .icons:after {
        display: table-cell;
        vertical-align: middle
}
#header .nav li.search,
#header .nav li.cat {
        display: block
}


body.item #sidebar .form-container label {
        font-size: .75em
}
body.item #contact h2 {
        margin-top: 0
}
.alert_form {
        background-color: transparent
}
#alert_email {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
}

    input[type="checkbox"] {
        width: auto;
        height: auto
}
ul.r-list {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        text-shadow: none
}
ul.r-list:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0
}
ul.r-list li {
        position: relative;
        margin-bottom: 5px;
        margin-right: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
}
ul.r-list>li:nth-child(2n) {
        padding-left: 5px
}
ul.r-list>li:nth-child(odd) {
        clear: both
}
.r-list>li.clear,
.r-list>li:nth-child(4n) {
        clear: none
}
ul.r-list li a.sub-category {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        font-weight: 700;
        display: inline-block;
        background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
        font-size: .8em;
        color: #069;
        text-shadow: 0 1px 1px #fff
}

ul.r-list li span {
        display: none
}
ul.r-list li ul {
        -webkit-transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden
}
ul.r-list li.active h2,
ul.r-list li.active a {
        background-color: #FFF;
        color: #048;
        font-size: 19px
}

ul.r-list li.active ul {
        opacity: 1;
        height: auto;
        margin: 0;
        padding: 5px 0 0;
        margin-bottom: 5px
}
ul.r-list li.active ul li {
        padding: 0
}
ul.r-list li.active ul li a {
        border-bottom: 1px solid #EBEBEB;
        border-top: none;
        color: #08f;
        background-color: #f7f7f7;
        text-shadow: 0 1px 1px #fff;
        font-size: .82em
}
ul.r-list li.active ul li a:hover {
        background-color: #048;
        color: #FFF;
        text-shadow: 0 0 0
}
ul.r-list li ul li {
        float: none;
        width: 100%
}
.cell_3, .cell_3:nth-child(2n) {
        width: 33.3%; float: left; padding: 0.5%;
}

body.item-post #footer .resp-toogle {
        display: block
}
body.display-cat .r-list {
        display: block
}
.resp-toogle {
        display: block
}
body.display-filters div#sidebar {
        display: block
}
.show-filters-btn {
        border: solid 1px #08f;
        background-color: #08f;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        cursor: pointer;
        font-size: 1em;
        line-height: 16px;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        outline: 0;
        padding: 8px 6px;
        margin-bottom: 10px;
        color: #fff
}
.show-filters-btn:hover {color: #fff;
}

.form-container-box {
        width: 100%
}
.form-container .checkbox {
        margin-bottom: 15px
}
.form-container .checkbox input {
        width: auto
}
.form-horizontal .actions {
        margin: 0;
        padding-left: 0;
        padding-right: 0
}
.listing-grid .listing-card,
body.search .listing-grid .listing-card {

        padding: 0;
        border: 0;
        margin: .5%
}

.listing-grid .listing-thumb {
        float: none
}
.listing-grid .listing-thumb img {
        height: auto;
        width: 92%;
        margin: 4%;
        float: left
}
.listing-grid .listing-cell {
        display: block;

}
.listing-grid p {
        display: none
}
.listing-grid .listing-basicinfo a {
        white-space: initial;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block
}
body.not-found .categories h2,
body.not-found .categories h3 {
        float: none;
        width: 100%
}

body.search #content {
        position: relative;
        padding-top: 100px
}

body.search .list-header {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 80px
}

body.search #content h1 {
        display: block;
        margin: 0;
        font-size: 1.5em;
        padding-left: 0;
        margin-bottom: 5px
}
.counter-search {
        padding-right: 0
}

body.search .list-header .actions {
        padding: 4px 0;
        padding-bottom: 3px;
        clear: both
}
body.display-filters .show-filters-btn {
        background-color: #f00;
        border-color: #f00;
        color: #fff
}
.see_by {
        display: none
}
#footer {
        bottom: auto
}

.widget-box {
        margin-top: 5px;
        width: 45%;
        float: left
}
.widget-box.col-12 {
    width: 100%;
}
.vista_300 {
        width: 45%;
        float: right;
        margin-top: 10px;
}

body.item .widget-box {
        width: 100%;
        float: none
}
}

@media only screen and (max-width: 800px) {

.vista_300.maps {
    display: none;
}
.main-map.text-center {
    overflow: overlay;
}
#sidebar{
        height: 160px;
    }
.control-group{
        padding-left: 8px;
    }
.user_menu li{
    width: 25%;
}
.user_menu li a{
    width: 25vw;
    padding: 40px 0;
    height: 50px;
    }

}

@media only screen and (max-width: 780px) {

    #itemname{
        font-size: 0.75em;
    }

    #usrpic{
        width:100%;
        margin: 0;
    }
    #usrpic img{
        width:30vw;
        margin-left: 35vw;
        margin-top: 10vw;
    }
    #usrname, #usrphone{
        text-align: center;
        width: 100%;
        margin: 0;
    }
    #usrname{
        font-size: 1.5em;
        margin-top: 45vw;
    }
    #usrphone{
        font-size: 1em;
        padding-bottom: 20px;
    }
#header #logo {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto
}
#header .nav {
        width: 100%
}
#companyselect, #csdrop{
    width: 150px;
    margin-left: 50%;
}
.item-photos .main-photo {
        width: 100%;
        float: none;
        margin: 0;
}

 .item-photos .thumbs {
        float: none;
        margin-top: 10px;
        margin-left: 10px;
        width: 95.33%;
        clear: both
}

    #strhead{
        height: 80px;
    }
    #myshuplogo{
        font-size: 0.75em;
    }
    #strname{
        font-size: 1em;
        margin-left: 80px;
        margin-top: 0;
        height: 30px;
    }
    #strnum{
        display: none;
    }

#qrcode{
    width: 80px;
    height: 80px;
    top: 0;
    right: 0;
}
    #strspacer{
        height: 60px;
    }
    .strhead{
        margin-top: 0;
        height: 80px;
    }

}

@media only screen and (max-width: 767px){
    #welcomeen,
    #welcomear{
        width: 100%;
        margin: 0;
    }


#item-post .controls{
    margin-left: 0px;
}

#item-post .control-group-price label {
    width: 100px;
    margin-top: 8px;
}

.box.seller_info label,
.box.description label,
.box.location label {
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

.controls.em-checkbox label {
    width: 80%;
    margin-bottom: 21px;
}

.controls.em-checkbox input {
    width: 21px !important;
    margin-left: 18px !important;
}

#item-post .box .row label,
#item-post td.lab,
#plugin-hook tr td label,
#plugin-hook .meta label {
    margin-right: 20px;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    width: 100px;
}
#plugin-hook .meta input {
    width: calc(100% - 160px);
}

#item-post .meta_list .meta select {
    width: calc(100% - 169px);
}

.form-horizontal .controls, .login label, .login .controls input, .forgot label, .forgot .controls input, .recover label, .recover .controls input,
body.register label, body.register .controls input {
    margin-left: 0px;
    width: 100%;
    text-align: center;
}

.item-photos .main-photo img {

    padding: 10px;
}

#plugin-hook .meta li label {
    width: auto;
}
#item-post .meta_list .meta textarea {
    width: calc(95% - 110px);
}

button, .ui-button {
    width: 100%;
    margin: 0;
}

}

@media only screen and (max-width: 640px) {
    body .item-header #type_dates {
        float: none
}
    body .cell_3,
    body .cell_3:nth-child(2n) {
        margin: 0;
        width: 100%
}
#header .nav {
        float: left
}
.listing-grid .listing-card,
body.search .listing-grid .listing-card {
     width: 48%;
}
}
@media only screen and (max-width: 260px) {
#header .nav li.register,
#header .nav li.login {
        width: 25%;
        float: left;
        padding-bottom: 5px
}
#header .nav li.register a,
#header .nav li.login a {
    width: 99%;
    margin-left: 1%;
    text-align: center;
    background: #fff;
    float: left;
}

#header .nav li {
        float: left;
        width: 49%
}
#header .nav .account,
#header .nav .logout {
        float: left;
        width: 24%;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #fff
}
#header .nav .hiuser {
        float: left;
        width: 48%;
        text-align: center;
        float: right
}
#header .nav,
#header .nav li.publish {
        float: left;
        width: 48%;
        padding-top: 5px
}
#header .nav {
        width: 100%;
        position: relative;
        float: left;
        padding-left: 0
}
#header .nav li a {
        width: 100%;
        text-align: center
}
#header .nav li.publish {
        float: none
}

#comments .controls, #comments input, #comments label {
    width: 100%;
    margin-left: auto;
}
}

@media only screen and (max-width: 480px) {
ul.r-list li {
        float: none;
        width: 100%
}
ul.r-list>li:nth-child(2n),
body.search ul.r-list>li:nth-child(2n) {
        padding-left: 0
}
.listing-grid .listing-card,
body.search .listing-grid .listing-card {
        clear: none
}
.listing-grid .listing-card:nth-child(2n),
body.search .listing-grid .listing-card:nth-child(2n) {
        margin-right: 0;
        margin-left: 1%;
        clear: none
}
.listing-grid .listing-card:nth-child(2n+1),
body.search .listing-grid .listing-card:nth-child(2n+1) {
        margin-left: 0;
        margin-right: 1%;
        clear: both!important
}
body.home .listing-grid .first {
        clear: none
}
#header #logo {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto
}
.vista_300 {
        width: 300px;
        float: none
}
.widget-box {
        width: 100%;

}
}
@media only screen and (max-width: 430px) {
    #listing-card-list{
        padding: 0 1%;
    }
    .location, .date{
        display: none!important;
    }
    .grid-currency-value{
        font-size: 1em!important;
        margin: 0.25%!important;
    }
    .title{
        font-size: 0.85em!important;
        color: #555!important;
        overflow-x: scroll;
    }
#content .bg-maps {
    display: none;
}

.listing-grid .listing-card,
body.search .listing-grid .listing-card {
        width: 49.3%;
    padding: 0!important;
    margin: 0!important;
    border: none!important;
    border-width: 0!important;
    border-color: #fff;
    box-shadow: 0 0 3px 0 rgba(80,80,80,0.2);
}

.listing-card .listing-thumb {
        float: none;
        width: auto;
        margin: 0;
        padding: 0;
}

.listing-card-list .listing-thumb img {
        height: 90%;
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
}

.listing-attributes {
    width: 100% !important;
}


.listing-grid .listing-thumb img {
        height: auto;
        width: 100%;
        margin: 0;
        float: left
}


.category-box a {
    width: auto;
}

.listing-card  {
        margin: 0 auto;
        top: 0px;
}

li.listing-card .listing-basicinfo a {
    padding-top: 10px;
    width: 100%;
    font-size: 1.3em;
    -webkit-line-clamp: 3;
    line-height: 20px;
    max-height: 70px;
    text-decoration: blink;
}

.listing-attributes span {
    width: 100%;
    display: block;
    height: 15px;
    font-size: 0.98em;
}

.list-currency-value {
    margin: 0 auto;
    top: 0px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: none !important;
    color: #08f;
}

.listing-card .listing-detail {
        text-align: center;
        margin-left: auto

}


.listing-basicinfo a {
        font-size: 20px
}

.listing-card .listing-detail {
        margin-left: auto
}
.listing-card .list-currency-value {

    margin-right: 0px;
}


li.listing-card {
    text-align: justify;
    border-bottom: 4px solid #ddd;
    margin-bottom: 10px;
}


.vista_300 {
        width: 100%
}
   #storerep{

    text-align: center;

}
}
